@font-face {
    font-family: 'pressstart2p';
    src: url('fonts/pressstart2p-webfont.eot');
    src: url('fonts/pressstart2p-webfont.eot?iefix') format('eot'),
         url('fonts/pressstart2p-webfont.woff') format('woff'),
         url('fonts/pressstart2p-webfont.ttf') format('truetype'),
         url('fonts/pressstart2p-webfont.svg#webfontjSpbZQRv') format('svg');
}
dl.score {
    font-family: 'pressstart2p';
    color: #FFFFFF;
    position: fixed;
    left: 0;
    top: 0;
}
.score-item{
	width: 113px;
	float: left;
	text-align: center;
}
body {
  margin: 0;
}
.screen {
  width: 1704px !important;
  height: 640px !important;
  background: url('./images/png/ground.png') #5c94fc repeat-x bottom;
}

.cloud-a {
  position: absolute;
  background: url('./images/png/cloud-a.png') ;
  width: 64px;
  height: 48px;
}
.cloud-b {
  position: absolute;
  background: url('./images/png/cloud-b.png') ;
  width: 96px;
  height: 48px;
}
.cloud-c {
  position: absolute;
  background: url('./images/png/cloud-c.png') ;
  width: 128px;
  height: 48px;
}
.clouds div:nth-child(2n+1) {
  top: 300px;
}
.clouds div:nth-child(2n) {
  top: 270px;
}
.cloud-1 {
  left: 240px;
}
.cloud-2 {
  left: 480px;
}
.cloud-3 {
  left: 770px;
}
.cloud-4 {
  left: 1000px;
}
.cloud-5 {
  left: 1340px;
}
.cloud-6 {
  left: 1540px;
}

.mountain-a {
  position: absolute;
  background: url('./images/png/mountain-a.png') ;
  width: 96px;
  height: 38px;
  top: 556px;
}
.mountain-b {
  position: absolute;
  background: url('./images/png/mountain-b.png') ;
  width: 160px;
  height: 70px;
  top: 524px;
}
.mountain-1 {
  left: 0px;
}
.mountain-2 {
  left: 550px;
}
.mountain-3 {
  left: 800px;
}
.mountain-4 {
  left: 1300px;
}

.plant-a {
  position: absolute;
  background: url('./images/png/plant-a.png') ;
  width: 64px;
  height: 32px;
  top: 562px;
}
.plant-b {
  position: absolute;
  background: url('./images/png/plant-b.png') ;
  width: 96px;
  height: 32px;
  top: 562px;
}
.plant-c {
  position: absolute;
  background: url('./images/png/plant-c.png') ;
  width: 128px;
  height: 32px;
  top: 562px;
}
.plant-1 {
  left: 415px;
}
.plant-2 {
  left: 980px;
}
.plant-3 {
  left: 1200px;
}
